@{
    ViewBag.Title = "View Recommendations!";
}
<h2 >@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="recommendation" class="row">
    <h2>We Recommend...</h2>
    @*<%:@Html.TextAreaFor(r => ReviewItem.name)%>
    <%:@Html.TextAreaFor(r => ReviewItem.description)%>
    <p>We're <%:@Html.TextAreaFor(r => Recommendation.estimatedRating)%> sure you'll like this</p>*@
</div>
<div class="row">
    <p>@Html.ActionLink("Generate a new recommendation", "GenerateRecommendation")</p>
</div>