################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/collaborativeFiltering/.vs/config
/collaborativeFiltering/collaborativeFiltering/obj/Debug
/collaborativeFiltering/packages
/collaborativeFiltering/collaborativeFiltering/bin
/collaborativeFiltering/.vs/collaborativeFiltering/v14
/collaborativeFiltering/collaborativeFiltering/obj/Release
/collaborativeFiltering/collaborativeFiltering/collaborativeFiltering.csproj.user

