################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/development/.vs/config
/development/collaborative filtering/obj/Debug
/development/packages
/development/collaborative filtering/bin
/development/.vs/collaborative filtering/v14
/development/collaborative filtering/obj/Release
/development/collaborative filtering/collaborativeFiltering.csproj.user

